* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: "Helventica", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  color: white;
  background-color: blue;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
}


h3 {
  font-family: "Helventica", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: blue;
  border-radius: 10px;
  padding: 5px 20px ;
  display:block;
  margin:auto;
  width:91%;
  margin-top:-5px;


}

.row{
  display: block;
margin:auto;
 Width:100%;
 }


.main {
  position: relative;
  display: block;
  min-height: 50vh;
  font-size: 28px;
  margin: -5px 5px 0 5px;
  border-color: blue;
  border-width: 4px;
  border-style: solid;
}

.frame {
  display: block;
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.box1 img {
   margin:auto;
   margin-left:5px;
}

.box2 img {
      margin:auto;
}

.box2  li{
  display: block;
  margin: auto;
  margin-top:3px;
}

.box2 .link{
    -webkit-box-shadow: inset 0 0 1px 1px grey;
    box-shadow: inset 0 0 1px 1px grey;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(5%, #f7c56a), to(#c4a366));
    background: linear-gradient(to bottom,#f7c56a 5%, #c4a366 100%);
    background-color: #fff;
    padding: 9px 8px;
    border-radius: 6px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 9px !important;
}


.link a{
  display: inline-block;
  list-style: none;
text-decoration: none !important;
  margin-left: 7px;
  margin-top: -5px !important;
}

 .link a:link, .link a:visited{
     color:black;
   }

.link:hover{

     -webkit-transform: scale(1.2);

     transform: scale(1.2);

     -webkit-transition: -webkit-transform .3s;

     transition: -webkit-transform .3s;

     transition: transform .3s;

     transition: transform .3s, -webkit-transform .3s;

     outline: none;

   }

 
